*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px black;
    text-align: center;
}

body{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 20vh);
    grid-template-areas: 
    "header"
    "nav"
    "section1"
    "section2"
    "aside"
    "footer"
    ;
}

header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
#section1{
    grid-area: section1;
}
#section2{
    grid-area: section2;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

@media (min-width: 481px) and (max-width: 760px){
    body{        
        grid-template-columns: 40% 35% 25%;
        grid-template-rows: repeat(4, 25vh);
        grid-template-areas: 
        "header header nav"
        "section1 section1 section1"
        "section2 section2 section2"        
        "footer aside aside"
        ;
    }
}

@media (min-width: 761px){
    body{        
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: repeat(4, 25vh);
        grid-template-areas: 
        "nav header header"
        "nav section1 aside"
        "nav section2 aside"        
        "nav footer footer"
        ;
    }
}
