*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px rgba(0, 0, 0, 0.304);
    text-align: center;
}

body{
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header nav"
    "A A"
    "UNO UNO"
    "DOS DOS"
    "TRES TRES"
    "CUATRO CUATRO"
    "B B"
    "C C"
    "D D"
    "footer footer"
    ;
}

header{
    grid-area: header;
    height: 100px;
    background-color: rgb(107, 115, 231);

}

nav{
    grid-area: nav;
    height: 100px;

}

#A{
    grid-area: A;
    background-color: cyan;
    height: 600px;

}

#UNO{
    grid-area: UNO;
    background-color: rgba(53, 53, 255, 0.655);
    height: 300px ;

}

#DOS{
    grid-area: DOS;
    background-color: rgb(31, 37, 165);
    height:300px ;

}

#TRES{
    grid-area: TRES;
    background-color: rgb(54, 91, 200);
    height: 300px;

}

#CUATRO{
    grid-area: CUATRO;
    background-color: rgb(92, 34, 219);
    height: 300px ;

}

#B{
    grid-area: B;
    height:600px ;
    background-color: aliceblue;
}

#C{
    grid-area: C;
    height: 600px;
    background-color: aliceblue;
}

#D{
    grid-area: D;
    height:600px ;
    background-color: aliceblue;
}

footer{
    grid-area: footer;
    height: 400px ;
    background-color: rgba(53, 53, 255, 0.655);

}

@media (min-width: 481px) and (max-width: 760px){
    body{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "header nav"
        "A A"
        "UNO DOS"
        "TRES CUATRO"
        "B B"
        "C C"
        "D D"
        "footer footer"
        ;
    }
}

@media (min-width: 761px){
    body{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "header header header nav"
        "A A A A"
        "UNO DOS TRES CUATRO"
        "B B B B"
        "C C C C"
        "D D D D"
        "footer footer footer footer";
    }
}