*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "menu"
    "hero"
    "main"
    "banner"
    "container"
    ;
    background-color: blue;
}

header{
    grid-area: header;
    background-color: red;
}
menu{
    grid-area: menu;
    background-color: aqua;
}
aside{
    grid-area: hero;
    background-color: black;
}

main{
    grid-area: main;
    background-color: bisque;
}
footer{
    grid-area: banner;
    background-color: blueviolet;
}

#container{
    grid-area: container;
    display: flex;
    flex-direction: column;
}

#caja1{
    background-color: brown;
    width: 100%;
    height: 50%;
}
#caja2{
    background-color: lawngreen;
    width: 100%;
    height: 50%;
}

@media (min-width: 760px){
    body{
        grid-template-columns: 25% 75%;
        grid-template-rows: 10% 30% 30% 15% 15% ;
        grid-template-areas: 
        "header    header"
        "hero      hero"
        "menu      main"
        "menu      banner"
        "menu      container";
    }
    #container {
        flex-direction: row;
    }

    #caja1 { width: 15%; 
        height: 100%;
        border-radius: 50%;
    }
    #caja2 { 
        width: 40%; 
        height: auto;
    }
}

@media (min-width: 1024px){
body{
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 10% 40% 30% 20%;
        grid-template-areas: 
        "header menu menu"
        "hero hero hero"
        "main container container"
        "banner banner banner";
    }
    #container{
    flex-direction: column;
}
#caja1{
    width: 100%;
    height: 50%;
}
#caja2{
    width: 100%;
    height: 50%;
}
} */

/* body{
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "container"
    "footer"
    ;
}

header{
    grid-area: header;
    background-color: orange;
}
aside{
    grid-area: aside;
    background-color: cornflowerblue;
}
main{
    grid-area: main;
    background-color: gray;
}
header{
    grid-area: header;
    background-color: orange;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: container;
    background-color: green;
}
footer{
    grid-area: footer;
    background-color: black;
}
#uno,#dos,#tres{
    border: solid 1px white;
    width: 500px;
    height: 80px;
}

@media (min-width: 760px){
    body{
        grid-template-columns: 1fr 2fr ;
        grid-template-areas: 
        "header header"
        "aside main"
        "aside container"
        "footer footer"
        ;
    }
}

@media (min-width: 1024px){
    body{
        grid-template-columns: 1fr 2fr ;
        grid-template-areas: 
        "header header"
        "aside container"
        "aside container"
        "main main"
        "footer footer"
        ;
    }
} */
 /* body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "menu"
    "section"
    "container"
    "aside"
    "footer"
    ;
 }

header{
    grid-area: header;
    background-color: red;
 }
menu{
    grid-area: menu;
    background-color: yellow;
 }
section{
    grid-area: section;
    background-color: purple;
 }
  #container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: container;
    background-color: aqua;
 }
 #uno,#dos,#tres,#cuatro{
    border: solid 1px black;
    width: 500px;
    height: 80px;
 }
  aside{
    grid-area: aside;
    background-color: palevioletred;
 }
  footer{
    grid-area: footer;
    background-color: black;
 }

 @media (min-width: 1024px){
    body{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "header header"
        "menu section"
        "container aside"
        "footer footer"
        ;
    }
    #container{
        display: flex;
    }
    
 }
 */

 /* body{
    background-color: blue;
    width: 100vw;
    height: 100vh;
 }
 #uno{
    background-color: yellow;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #dos{
    background-color: yellow;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }
 #tres{
    background-color: yellow;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }
 #cuatro{
    background-color: yellow;
    width: 500px;
    height: 300px;
 }

 #arriba{
    display: flex;
    justify-content: start;
 }
 #medio{
    display: flex;
    justify-content: center;
 }
 #abajo{
    display: flex;
    justify-content: end;
 }
 #top{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
 }
 #bottom{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: end;
 }

 .circle{
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 50%;
 } */

 body{
    background-color: blue;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "container"
    "aside"
    "footer"
    ;
 }

 header{
    background-color: green;
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #caja{
    background-color: yellow;
    width: 100px;
    height: 100px;
    border: solid 2px red;
 }
 nav{
    background-color: red;
    grid-area: nav;
 }
 #cont1{
    background-color: yellow;
    grid-area: container;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
 }
 .cont{
    background-color: green;
    width: 90%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
 }
 .caja{
    background-color: gray;
    width: 90%;
    height: 60px;
 }
 aside{
    background-color: cornflowerblue;
    grid-area: aside;
 }
 footer{
    background-color: palevioletred;
    grid-area: footer;
 }

 @media(min-width:769px){
    body{
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside container"
        "footer footer"
        ;
    }

    .cont{
        flex-direction: row;
    }
    .caja{
        width: 45%;
        height: 80%;
    }
 }

